.posts {
    font-size: 16px;
    border: solid thin #d7c9c9;
    border-radius: 10px;
    width: 400px;
    text-align: left;
    padding: 10px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
article, h2 {
    margin: 0px;
    padding: 0px;
}
.post-form form{
    display: flex;
    flex-direction: column;
}
.emoji-btns {
    display: flex;
    margin-top: 10px;
    gap: 6px;
}
.reactionBtn {
    cursor: pointer;
}
.timeago {
    margin-left: 10px;
    display: inline-block;
}
.postCredit{
    font-style: italic;
}
.post-form label{
   font-size: 14px;
   text-align: left;
}
.post-form input, 
.post-form button,
.post-form select,
.post-form textarea{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}